@font-face {
    font-family: "Owners Wide";
    font-weight: 500;
    src: url("/fonts/OwnersTRIALXWide-Light.otf");
}

@font-face {
    font-family: "Source Code JP";
    font-weight: 400;
    src: url("/fonts/SourceHanSans-JP.otf");
}

@font-face {
    font-family: "Helvetica";
    font-weight: 400;
    src: url("/fonts/Helvetica Black Condensed.otf");
}

@font-face {
    font-family: "Helvetica normal";
    font-weight: 400;
    src: url("/fonts/HelveticaNowMicro.otf");
}
