<<<<<<< HEAD
@import "https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap";
=======
@font-face {
    font-family: "Owners Wide";
    font-weight: 500;
    src: url("/fonts/OwnersTRIALXWide-Light.otf");
}

@font-face {
    font-family: "Source Code JP";
    font-weight: 700;
    src: url("/fonts/SourceHanSans-JP.otf");
}

@font-face {
    font-family: "Helvetica";
    font-weight: 400;
    src: url("/fonts/Helvetica Black Condensed.otf");
}

@font-face {
    font-family: "Helvetica normal";
    font-weight: 400;
    src: url("/fonts/HelveticaNowMicro.otf");
}
>>>>>>> parent of 87d0315 (ok)
