.contact {
    margin-top: 58px;
    &__header {
        flex-shrink: 0;
        &__title {
            padding: 0 10px;
            margin-bottom: 40px;
            display: flex;
            justify-content: space-between;
            .title-sub {
                color: $gold;
                font-family: $font-family-sans-serif-helvetica;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                margin-top: 23px;
                @include sp {
                font-size: 11px;
                margin-top: 3px;
                }
            }
            .title-text {
                text-align: right;
                font-family: $font-family-sans-serif-owners;
                font-size: 190px;
                font-style: normal;
                font-weight: 400;
                line-height: 100%;
                @include sp {
                    font-size: 40px;
                    line-height: 85%;
                }
            }
        }
    }
    .top-line {
        display: flex;
        margin: 187px 8px 150px;
        justify-content: space-around;
        position: relative;
        @include sp {
            margin: 40px 8px 70px;
        }
        .index {
            position: relative;
            display: flex;
            border-radius: 25px;
            width: 50px;
            height: 50px;
            background-color: $gold;
            color: $blk;
            text-align: center;
            font-family: "Owners Wide", sans-serif;
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            line-height: 100%;
            justify-content: center;
            align-items: center;
            z-index: 2;
            @include sp {
                width: 26.53px;
                height: 26.53px;
                font-size: 12.734px;
            }
            .text {
                position: absolute;
                color: $white;
                text-align: center;
                font-family: $font-family-sans-serif-source;
                font-size: 26px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                top: 56.5px;
                width: max-content;
                @include sp {
                    font-size: 13.796px;
                }
            }
        }
        .line {
            position: absolute;
            width: 100%;
            height: 2px;
            background-color: $white;
            top: 25px;
            z-index: 1;
            @include sp {
                top: 13.25px;
            }
        }
        #event {
            background-color: $blk;
            color: $white;
        }
    }
    .form-input {
        margin: 0 auto;
        width: 50%;
        padding: 0 4px;
        @include sp {
            width: 100%;
            padding: 0 8px;
        }
        .item {
            .item-title {
                font-family: $font-family-sans-serif-source;
                font-size: 24px;
                font-style: normal;
                font-weight: 500;
                line-height: 48px;
                letter-spacing: -0.24px;
                @include sp {
                    font-size: 16px;
                    line-height: 32px;
                    letter-spacing: -0.16%;
                }
            }
            #hidden-pc {
                display: none;
                @include sp {
                    display: block;
                }
            }
            select{
                width: 100%;
                flex-shrink: 0;
                border-radius: 3px;
                border: 2px solid $white;
                background: $gray;
                margin-bottom: 18px;
                padding: 30px 34px 35px;
                color: $white;
                font-size: 15px;
                @include sp {
                    padding: 15px;
                    font-size: 12px;
                    line-height: 19.8px;
                    margin-bottom: 25px;
                }
            }
            .item-input {
                width: 100%;
                padding: 30px 34px 35px;
                color: $white;
                font-size: 15px;
                flex-shrink: 0;
                border-radius: 3px;
                border: 2px solid $white;
                background: $gray;
                margin-bottom: 40px;
                @include sp {
                    padding: 15px;
                    font-size: 12px;
                    line-height: 19.8px;
                    margin-bottom: 25px;
                }
            }
            .item-textarea {
                width: 100%;
                height: 350px;
                border-radius: 3px;
                border: 2px solid $white;
                background: $gray;
                padding: 30px 34px;
                color: $white;
                font-size: 15px;
                @include sp {
                    height: 190px;
                    padding: 15px;
                    font-size: 12px;
                    line-height: 19.8px;
                }
            }
        }
        .attention {
            margin-top: 20px;
            width: 100%;
            font-size: 15px;
            font-style: normal;
            font-weight: 500;
            line-height: 24.75px;
            span {
                text-decoration-line: underline;
            }
            @include sp {
                font-size: 14px;
                line-height: 23.1px;
            }
        }
        .opinion {
            width: fit-content;
            margin: 40px auto 30px;
            display: flex;
            align-items: center;
            input {
                width: 26px;
                height: 26px;
                flex-shrink: 0;
            }
            label {
                margin-left: 20px;
                font-size: 24px;
                font-style: normal;
                font-weight: 500;
                line-height: 48px;
                letter-spacing: -0.24px;
                @include sp {
                    font-size: 18px;
                    line-height: 36px;
                    letter-spacing: -0.18px;
                }
            }
        }
        .send {
            color: $gold;
            text-align: center;
            font-family: $font-family-sans-serif-owners;
            font-size: 80px;
            font-style: normal;
            font-weight: 400;
            line-height: 80px;
            margin-bottom: 138px;
            display: inline-block;
            outline: none;
            border: none;
            background: none;
            @include sp {
                font-size: 50px;
                line-height: 100%;
                margin-bottom: 100px;
            }
        }
    }
    #hidden-sp {
        @include sp {
            display: none;
        }
    }
}
