.policy {
    
    &__header {
        flex-shrink: 0;
        &__title {
            padding: 0 10px;
            margin-bottom: 40px;
            display: flex;
            justify-content: space-between;
            .title-sub {
                color: $gold;
                font-family: $font-family-sans-serif-helvetica;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                margin-top: 23px;
                @include sp {
                font-size: 11px;
                margin-top: 3px;
                }
            }
            .title-text {
                text-align: right;
                font-family: $font-family-sans-serif-owners;
                font-size: 190px;
                font-style: normal;
                font-weight: 400;
                line-height: 100%;
                @include sp {
                    font-size: 40px;
                    line-height: 85%;
                }
            }
            
        }
        .top--line {
            position: relative;
            display: flex;
            margin: 0 5px;
            justify-content: space-between;
            
            .line {
                position: absolute;
                width: 100%;
                height: 1px;
                background-color: $white;
                top: 2px;
                z-index: 5;
            }
        }
        .text-sub-line {
            display: flex;
            justify-content: space-between;
            margin: 0px 8px;
            .text {
                font-family: $font-family-sans-serif-helvetica;
                font-size: 24px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }
        }
        .sub-header {
            width: 49%;
            font-family: $font-family-sans-serif-source;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 180%;
            margin-left: 50%;
            padding-top: 85px;
            margin-bottom: 100px;
            @include sp {
                padding-top: 40px;
                margin-left: 64px;
                width: 82%;
            }
    }
    }
    &__content {
        padding: 0 10px;
        .item {
            display: flex;
            margin-bottom: 50px;
            @include sp {
                flex-direction: column;   
                margin-bottom: 40px;
            }
            &__title {
                display: flex;
                flex-direction: column;
                width: 50%;
                @include sp {
                    width: 100%;
                }
                .index {
                    color: $gold;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 130%;
                    span {
                        font-family: $font-family-sans-serif-owners;
                    }
                    @include sp {
                        font-size: 12px;
                    }
                }
                .title {
                    font-size: 35px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 130%; 
                    @include sp {
                        font-size: 21px;
                        margin-top: 10px;
                    }
                }
            }
            &__content {
                width: 50%;
                @include sp {
                    margin-left: 54px;
                    width: 87%;
                    margin-top: 20px;
                }
                .text {
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 180%;
                    ol {
                        padding-left: 19px;
                    }
                    #mt-32 {
                        margin-top: 32px;
                    }
                    ul {
                        padding-left: 0px;
                        list-style-type: none;
                    }
                    @include sp {
                        font-size: 14px;
                    }
                }
            }
        }
    }
    .contact-us {
        margin-top: 140px;
        width: 100%;
        height: 700px;
        flex-shrink: 0;
        background: #F4F0F0;
        @include sp {
            height: 250px;
        }
        .title {
            margin: 0 10px;
            display: flex;
            padding-top: 100px;
            @include sp {
                padding-top: 44px;
                justify-content: space-between;
            }
            .sub-title {
                margin-top: 15px;
                color: $gold;
                font-family: $font-family-sans-serif-source;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 100%; 
                width: 25%;
                @include sp {
                    margin-top: 6px;
                    font-size: 14px;
                }
            }
            .contact-title {
                color: $gray;
                font-family: $font-family-sans-serif-owners;
                font-size: 150px;
                font-style: normal;
                font-weight: 400;
                line-height: 100%;
                @include sp {
                    font-size: 41px;
                }
                .submit {
                    display: flex;
                    justify-content: space-between;
                    margin-top: 20px;
                    svg {
                        @include sp {
                            width: 52.5px;
                            height: 51px; 
                        }
                    }
                    .text {
                        color: $gray;
                        font-family: $font-family-sans-serif-source;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 100%;
                        @include sp {
                            font-size: 13px;
                        }
                    }
                }
            }
        }
    }
}
